@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
}
*, ::before, ::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
input, button {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 1rem;
  cursor: pointer;
}
button {
  width: fit-content;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-h {
  display: flex;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-s {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-e {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-c {
  display: flex;
  justify-content: center;
}
.center-both {
  display: grid;
  min-height: 100dvh;
  place-content: center;
}

.gap {
  gap: 1rem;
}
.gap-md {
  gap: 1.5rem;
}
.gap-lg {
  gap: 2rem;
}
.gap-sm {
  gap: 0.5rem;
}

p {
  font-size: 1.1rem;
}
.heading {
  font-size: 2rem;
  font-weight: 700;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
}
.font {
  font-size: 1.2rem;
}
.font-l {
  font-size: 1.8rem;
  font-weight: 700;
}
.link {
  font-size: 1.1rem;
  cursor: pointer;
}
.icon {
  cursor: pointer;
}

.btn {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.btn:hover {
  color: black;
  background-color: white;
}

.outlined__btn {
  font-weight: 600;
  background-color: transparent;
  color: black;
}
.outlined__btn:hover {
  color: white;
  background-color: black;
}

.container {
  width: 100%;
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    margin-top: 10rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (max-width: 425px) {
  .wrap-md {
    flex-wrap: wrap;
  }
}